body {
  background-color: #c8c7c3;
  max-width: 80%;
  margin: 0 auto;
}

#base_banner {
  margin-bottom: 200px;
}
#banner_title {
  text-align: center;
  height: 200px;
  width: 50;
  margin: 0 auto;
}

.title1{
  background-color: #c8c7c3;
}
