
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
  font-family: 'Press Start 2P', sans-serif;
}

body {
  background-color: #ffffff;
  max-width: 80%;
  margin: 0 auto;
}
#base_banner {
  margin: 0 auto;
  margin-bottom: 100px;
  height: 55%;
  width: 55%;
}

#event_banner {
  margin-bottom: 50px;
}

#banner_title {
  text-align: center;
  margin: 0 auto;
}



.title-title1{
  color: rgb(0, 0, 0);
}
