
{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hobby Finder</title>
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'custom.css'%}">
  </head>
  <body>
    <header>
    <div class="nes-container is-rounded" id="base_banner">
      <h1 id="banner_title">Hobby Finder</h1>
        {% if user.is_authenticated %}
          <p>Logged in as, {{ user.username }}.</p>
        {% else %}
          <p>Welcome, new user. Please log in.</p>
        {% endif %}
    </div>
    </header>
    {% comment %} <nav class="lists" id= "lists">
        <ul>
          <h3>Popular Tags</h3>
          <li><a href = "">Tag1</a></li>
          <li><a href = "">Tag2</a></li>
          <li><a href = "">Tag3</a></li>
          <li><a href = "">Tag4</a></li>
          <li><a href = "">Tag5</a></li>
        </ul>
    </nav> {% endcomment %}
    <main>
      
      <div class="buttons">
        <button type="button" class="nes-btn is-primary" onclick= "document.location.href='/feed'">Finder</button>
        <button type="button" class="nes-btn is-success" onclick= "document.location.href='/profile'">Account</button>
        <button type="button" class="nes-btn is-warning" onclick= "document.location.href='/create_event'">Create Event</button>
      </div>
    </main>

    {% block content %}
    {% endblock %}
    {% block events %}
    {% endblock %}
  </body>
</html>
